<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCI-zBAIzIgio-74y9-U6xcUitQUX7-_gs</string>
	<key>GCM_SENDER_ID</key>
	<string>771664176466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>csci401.Dough-to-Bread</string>
	<key>PROJECT_ID</key>
	<string>dough-to-bread</string>
	<key>STORAGE_BUCKET</key>
	<string>dough-to-bread.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771664176466:ios:0c957b915b896767f8068b</string>
</dict>
</plist>